---
import '../styles/global.css'
const pageTitle = "Apuntes";
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
        <a href="/"> Inicio </a>
        <a href="/about/"> Sobre mi </a>
        <a href="/blog/"> Blog </a>
        <a href="/apuntes/"> Apuntes </a>
		<h1>{pageTitle}</h1>
        <p>En astro, para declarar variables antes de inicializar el HTML, podemos añadirlos mediante el uso de "---" arriba y abajo y entre medias , declarar todas las variables que queramos.</p>
        <p>Los estilos irán en la cabecera de la página "En el head" y a partir de ahí se irán añadiendo o modificando a gusto de consumidor.</p>
        <p>En las declaraciones de variables se pueden añadir variables para utilizar dentro de los estilos usando en el style el "define:vars=doble corchete con las variables que queramos asignar dentro."</p>
		<p>Para añadir estilos globales crearemos una carpeta styles en la cuál introduciremos un archivo global.css para indicar que esos estilos serán globales y para añadirlos utilizaremos el import en la zona de declaración de variables.</p>
	</body>
</html>
